.sweet-loading{
    height: 50vh;
    display :flex;
    justify-content: center;
    align-items: flex-end;    
}

.div{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100px;
    height: 100px;

}
/* 
export const Section = styled('div')`
flex flex-wrap content-center justify-center w-100 h-100 bg-blue`;

export const Article = styled('div')`
w-25 ma2 h4 items-center justify-center flex flex-column flex-wrap`;


display : flex;
flex- */